<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <link rel="stylesheet" href="css/movieCard.css" />

    <title>HTML5 Login Form with validation Example</title>
  </head>
  <body id="movieCard">
    <div class="movieDiv">
      <img class="img" src="..\views\img\casino-royale.jpg" />
      <h3 class="movieName">dadadadad</h3>
      <span class="span">
        <h3 class="movieCategory">action</h3>
        <h3 class="releaseYear">2019</h3>
      </span>
    </div>
  </body>
</html>
