<!DOCTYPE html>
<html>
<head>
<title>Gigos News</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="/views/css/news.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type = "text/javascript" src="../js/news.js"></script>
</head>
<body>
  <div id="wrapper">
    <div id="NewsContent">
      <div class="post">
        <div class="thumb"><a href="#"><img id="pic1" src="" alt="" /></a></div>
        <p id="date1" class="date"></p>
        <p id="title1"></p>
        <a id="continue1" class="continue" href="#">Continue Reading</a> </div>
      <div class="post">
        <div class="thumb"><a href="#"><img id="pic2" src="" alt="" /></a></div>
        <p id="date2" class="date"></p>
        <p id="title2"></p>
        <a id="continue2" class="continue" href="#">Continue Reading</a> </div>
      <div class="post">
        <div class="thumb"><a href="#"><img id="pic3" src="" alt="" /></a></div>
        <p id="date3" class="date"></p>
        <p id="title3"></p>
        <a id="continue3" class="continue" href="#">Continue Reading</a> </div>
      <div class="post">
        <div class="thumb"><a href="#"><img id="pic4" src="" alt="" /></a></div>
        <p id="date4" class="date"></p>
        <p id="title4"></p>
        <a id="continue4" class="continue" href="#">Continue Reading</a> </div>
      <div class="post">
        <div class="thumb"><a href="#"><img id="pic5" src="" alt="" /></a></div>
        <p id="date5" class="date"></p>
        <p id="title5"></p>
        <a id="continue5" class="continue" href="#">Continue Reading</a> </div>
      <div class="post">
        <div class="thumb"><a href="#"><img id="pic6" src="" alt="" /></a></div>
        <p id="date6" class="date"></p>
        <p id="title6"></p>
        <a id="continue6" class="continue" href="#">Continue Reading</a> </div>
      <div class="post">
        <div class="thumb"><a href="#"><img id="pic7" src="" alt="" /></a></div>
        <p id="date7" class="date"></p>
        <p id="title7"></p>
        <a id="continue7" class="continue" href="#">Continue Reading</a> </div>
      <div class="post">
        <div class="thumb"><a href="#"><img id="pic8" src="" alt="" /></a></div>
        <p id="date8" class="date"></p>
        <p id="title8"></p>
        <a id="continue8" class="continue" href="#">Continue Reading</a> </div>
    </div>
    <div id="sidebar">
      <div class="wrapper">
        <h2>Popular Posts</h2>
        <ul>
          <li><a id="pop1" href="#"></a></li>
          <li><a id="pop2" href="#"></a></li>
          <li><a id="pop3" href="#"></a></li>
          <li><a id="pop4" href="#"></a></li>
        </ul>
    </div>
  </div>
  </body>
</html>
