<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Gigos Sign Up Form</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="./views/css/signUp.css">
<script type = "text/javascript" src="../js/signup.js"></script>

</head>
<body>
<div id="login-form-wrap">
  <h2>Register</h2>
  <form id="Register-form">
    <p>
        <input type="text" id="username" name="username" placeholder="Username" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
        <input type="password" id="firstPassword" name="firstPassword" placeholder="Password" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
        <input type="password" id="secondPassword" name="secondPassword" placeholder="Confirm password" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
        <input type="button" id="SignUp" value="Sign Up" onclick="SignUpButton()">
    </p>
    <div id="Sign-Up-Respond">
    </div>
  </form>

</div>

  
</body>
</html>
