<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
      $(document).ready(() => {
        // const content = document.getElementById("content");
        var el = document.getElementById("movieCard");
        el.innerHTML =
          "<html><div class ='movieDiv'> <img class='img' src='img/casino-royale.jpg' /></div></html>";
      });
    </script>
    <link rel="stylesheet" href="css/movieCard.css" />

    <title>HTML try</title>
  </head>
  <body id="movieCard">
    <div id="movieDiv"></div>
  </body>
</html>
